This project is designed for specific software.

Postgresql: 9.6.0 or later.
- see: https://www.postgresql.org/
- In general, postgresql is very compatible with itself and rarely has any update issues.
- Any version greater than 9.6.0, such as 9.6.6, 9.7.0, 9.8.52, 10.0.0, 12.2.3, etc..
- This project uses functionality added as of 9.6.0.

PHP: 7.1 and any patches.
- see: https://www.php.net/
- In general, PHP is very incompatible with itself and should use the specified versions.

PHP Modules:
- mbstring
- intl

php-lzo:
- see: https://github.com/adsr/php-lzo
- see: http://www.oberhumer.com/opensource/lzo/
- This must be added to the PHP source code during compile time.

php-xz: (currently not required because code is defunct.)
- see: https://github.com/payden/php-xz
- see: https://github.com/chobie/php-xz
- This must be added to the PHP source code during compile time.
